@import url('https://fonts.googleapis.com/css2?family=Marcellus+SC&family=Reem+Kufi&family=Space+Grotesk&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/*
font-family: 'Marcellus SC', serif;
font-family: 'Reem Kufi', sans-serif;
font-family: 'Space Grotesk', sans-serif;
*/

body,
html {
  display: block;
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

h1 {
  font-family: 'Space Grotesk', sans-serif;
}

h2 {
  font-family: 'Marcellus SC', serif;
}

p {
  font-family: 'Reem Kufi', sans-serif;
}

#home-bg {
  background-image: url('../src/assets/kashmir-backyard-100.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
